
body {
    background-color: black;
}
body > * {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    color: #d82222;
    font-size: 7rem;
}